
@media (min-width: 37.5em) {
	nav {
		width: 400px;
		margin: 0;
	}

	main { 
		max-width: 800px;
		margin: 0 auto;
	}

	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
		margin: 1rem 0;
	}

	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none; 
	}

	.navigation {
		flex-direction: row;
        display: flex;
        justify-content: space-between;

	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
}
